:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
  --secondary-white-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

/* Навигация */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Контакты */
.link-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--secondary-background-color);
}

.hero h1 {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Чтобы визуально спрятать */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Преимущества */
.advantages-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.description-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */
.team {
  background-color: var(--secondary-white-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-proffession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

footer {
  background-color: var(--secondary-background-color);
}

footer .logo {
  color: var(--primary-white-color);
}

/* Контакты футер */
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--adress-text-color);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

header {
  background-color: var(--primary-white-color);
}

/* Показ текущей страницы */
.link-current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-current:hover,
.link-current:focus {
  color: var(--title-text-color);
}

/* Кнопки фильтра */
button {
  font-family: inherit; /*Наследование для кнопки */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-white-color);
}

.button-current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Примеры работ */
.example-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.example-link:hover,
.example-link:focus {
  color: var(--accent-color);
}

.example-link {
  color: var(--title-text-color);
}

.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200;
  letter-spacing: 0.06em;
}
